.total{
    width: 100%;
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}
.miH3{
    text-align: center;
}
.tresCuartos{
    width: 65%;
}
.cuarto{
    width: 35%;
}

@media (max-width: 600px) {
    .total{
        display: block;
    }    
    .tresCuartos{
        width: 90%;
        margin: 0 auto;
    }
    .cuarto{
        width: 75%;
        margin: 0 auto;
    }
    .misLogos{
        display: flex;
        margin-bottom: 5%;
    }
    .logos{
        width: 20%;

    }
    .sendBtn{
        margin-top: 4%;
    }
}