.App {
  text-align: center;
}

.card{
  color:black
}
.miHeader{
  width: 85%;
  margin:0 auto;
}
.aboutMe{
  margin:10%;
}
.misProyexts{
  margin-bottom: 5%;
}
.infoMe{
  display: flex;
  width: 100%;
  margin-top: 10%;
}
.contactMe{
  width: 80%;
  margin-top: 9%;
  display: flex;
}
.contactComponent{
  margin: 0 auto;
}

@media (max-width: 600px) {
  .aboutMe{
    margin:10%; 
  }
  .contactMe{
    margin-top: 15%;
    display: block;
    
  }
  .contactComponent{
    width: 100%;
  }
  .miHeader{
    width: 100%;
    margin:0 auto;
  }
}

