.miForm{
    text-align: center;
    width: 80%;
}
.sendBtn{
    margin-bottom: 5%;
}

@media (max-width: 600px) {
    .miForm{
        text-align: center;
        width: 100%;
    }
    .sendBtn{
        margin-bottom: 5%;
    }
}